.container {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .logo {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .spacer {
    flex: 1;
  }
  
  .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
  }