<div class="post-card" (click)="toggleExpandedPost()">
  <div class="post-header">
    <div class="post-author">
      <img
        [src]="post.user.profilePicUrl"
        alt="Avatar do usuário"
        class="author-avatar"
      />
      <span class="author-name">{{ post.user.username }}</span>
    </div>
    <span class="post-date">{{
      post.timestamp | date : "dd/MM/yyyy HH:mm"
    }}</span>
  </div>

  <div class="post-content">
    <h3 class="post-title">{{ post.title }}</h3>
    <p class="post-text">
      {{ expanded ? post.content : truncateText(post.content, 100) }}
    </p>
  </div>

  <div class="post-footer">
    <span *ngIf="post.category" class="post-category">
      {{ post.category.title }}
    </span>
  </div>

  <div class="delete-post" *ngIf="canDelete">
    <div class="delete">
      <button
        type="button"
        mat-flat-button
        class="red-btn"
        (click)="deletePost()"
      >
        Excluir post
      </button>
    </div>
  </div>

  <div *ngIf="successMsg" class="success-msg">
    {{ successMsg }}
  </div>
  <div *ngIf="errorMsg" class="error-msg">
    {{ errorMsg }}
  </div>
</div>
