<div class="form">
  <div class="form-container">
    <button class="toggle-form" (click)="onToggleEmitt()">
      Já tem conta? Faça login
    </button>

    <div class="divider">ou</div>

    <mat-card class="card">
      <h2>Cadastre-se</h2>
      <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            name="username"
            [(ngModel)]="username"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>URL para foto de perfil</mat-label>
          <input
            matInput
            type="text"
            name="profilePicUrl"
            [(ngModel)]="profilePicUrl"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirme a senha</mat-label>
          <input
            matInput
            type="password"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            required
          />
        </mat-form-field>

        <mat-checkbox
          name="terms"
          [(ngModel)]="termsCheckbox"
          class="terms-checkbox"
          required
        >
          Concordo com os termos e condições
        </mat-checkbox>

        <button
          mat-raised-button
          color="primary"
          class="full-width"
          [disabled]="!termsCheckbox || isSubmitting"
        >
          {{ isSubmitting ? "Enviando..." : "Cadastrar" }}
        </button>
      </form>
      <div *ngIf="errorMsg" class="alert alert-danger">
        {{ errorMsg }}
      </div>
    </mat-card>
  </div>
</div>
