<div class="signup-form">
  <div class="form-container">
    <button class="toggle-form" (click)="onToggleForms.emit()">
      Já tem conta? Faça login
    </button>

    <div class="divider">ou</div>

    <mat-card class="signup-card">
      <h2>Entrar</h2>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            name="username"
            [(ngModel)]="username"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width">
          Entrar
        </button>
      </form>
      <div *ngIf="errorMsg" class="alert alert-danger">
        {{ errorMsg }}
      </div>
    </mat-card>
  </div>
</div>
