<div class="container">
  <div class="left flex-center">
    <h1 class="share-tec">&lt;BlogPessoal /&gt;</h1>
    <img src="logo-acelera.png" alt="Logo programa Acelera Maker" />
    <p class="intro share-tec">
      Aplicação de BlogPessoal desenvolvida para a trilha FrontEnd do programa
      Acelera Maker
    </p>
  </div>
  <div class="right flex-center">
    <ng-container *ngIf="isLogin; else signup">
      <app-login-form (click)="toggleForms()" />
    </ng-container>
    <ng-template #signup>
      <app-signup-form (click)="toggleForms()" />
    </ng-template>
  </div>
</div>
