.container {
    background-color: grey;
    height: 100dvh;

    background: #1fadff;
    background: linear-gradient(0deg, rgba(31, 173, 255, 1) 0%, rgba(253, 45, 232, 1) 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ;
}

.wrapper {
    margin-top: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 2em;
    color: white;
    text-shadow: 1px 3px 0 #000000, 1px 8px 5px #000000;
}

.left,
.right {
    padding: 0 2em;
    width: 100%;
    flex: 1 1 auto;
}

.left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    flex: 1 1 auto;

    .logo {
        max-width: 700px;
    }

    .intro {
        font-size: 1.2em;
        max-width: 90%;
        text-align: center;
        color: white;
    }
}

.right {
    height: 100%;
    min-width: 0;
}

@media (width < 1200px) {
    .left .logo {
        max-width: 500px;
    }
}

@media (width < 900px) {
    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 3em;
    }

    .hidden {
        display: none;
    }

    .logo {
        width: 100%;
    }

    .right {
        flex: 1;
        margin-bottom: 2em;
    }

    .left {
        max-height: 100px;
    }
}

@media (width < 600px) {
    .left .logo {
        max-width: 300px;
    }

    .left {
        display: none;
    }
}

@media (width < 400px) {
    .container {
        gap: 1em;
    }

    .left .logo {
        max-width: 200px;
    }

    .title {
        top: .5em;
        margin-bottom: 0;
    }
}