.container {
    background-color: grey;
    height: 100dvh;

    background: #1fadff;
    background: linear-gradient(0deg, rgba(31, 173, 255, 1) 0%, rgba(253, 45, 232, 1) 100%);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.title {
    top: 2em;
    position: absolute;
    font-size: 2em;
    color: white;
    text-shadow: 1px 3px 0 #000000, 1px 8px 5px #000000;
}

.left,
.right {
    padding: 0 2em;
    width: 100%;
    flex: 1 1 auto;
}

.left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    flex: 1 1 300px;

    .logo {
        max-width: 700px;
    }

    .intro {
        font-size: 1.2em;
        max-width: 90%;
        text-align: center;
        color: white;
    }
}

.right {
    height: 100%;
    min-width: 0;
}

@media (width < 1200px) {
  .left .logo {
    max-width: 500px;
  }
}

@media (width < 900px) {
  .container {
    height: 100dvh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    position: relative;
    margin-bottom: 1.5em;
    top: 1em;
  }

  .title.hidden {
    margin-bottom: 200px !important;
}
  
  .right {
    flex: 1;
    margin-bottom: 2em;
  }
  
  .left {
    flex: 1;
  }
}

@media (width < 600px) {
  .left .logo {
    max-width: 300px;
  }
}

@media (width < 400px) {
  .left .logo {
    max-width: 200px;
  }
}