@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-tec {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
