@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Special+Elite&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}


.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-tec {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.full-width {
    width: 100%;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    box-shadow: #696969 2px 3px 5px 0px;
    position: relative;

    background-color: white;
    border-radius: 15px;
}

.form-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.card {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: none;
    border: none;
    gap: 1em;
}

.red-btn {
    background-color: #d32f2f !important;
}

.msg-container {
    position: absolute;
    top: 8px;
    left: 16px;
    right: 16px;
    z-index: 10;
    pointer-events: none;

}

.success-msg,
.error-msg {
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    pointer-events: auto;
}

.success-msg {
    color: #2e7d32;
    background-color: #c8e6c9;
    border: 1px solid #81c784;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-weight: 500;
}

.error-msg {
    color: #c62828;
    background-color: #ffcdd2;
    border: 1px solid #e57373;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-weight: 500;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.animate {
    animation: fadeSlideIn 0.4s ease-out, fadeOut 0.4s ease-in 2.6s forwards;
}